@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:red" class="display-4"><strong>Kütüphane Uygulamasına Hoş Geldiniz</strong></h1>
   <br/>
    <br />
   <p><img src="/img/library.jpg"</p>
</div>
