@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <br />
    <br />
<h2 style="color:red">@ViewData["Title"]</h2>

<br />
<br/>
<h3>Ihlamur Sokak Demir Apt. No:3</h3>
<h3>Çankaya ANKARA</h3>
<br/>
<h3>E-posta adresimiz:</h3>
<h3><a href="gulendam@gmail.com">gulendam@gmail.com</a></h3>
</div>